In [196]:
import pandas as pd

import os
working_directory=os.getcwd()
print(working_directory)

/Users/naokimaruoka/Dropbox/00.Self-Dev/Programming/GitHub/Python

In [197]:
import warnings
warnings.simplefilter('ignore')

In [198]:
path_train=working_directory+'/train.csv'
path_test=working_directory+'/test.csv'
path_submit=working_directory+'/submit.csv'
df_train=pd.read_csv(path_train)
df_test=pd.read_csv(path_test)
df_submit=pd.read_csv(path_submit)

# Trainデータの事前チェック

In [199]:
df_train.head()

   ID  survived  pclass     sex   age  sibsp  parch     fare embarked
0   1         0       3    male  22.0      1      0   7.2500        S
1   3         1       3  female  26.0      0      0   7.9250        S
2   4         1       1  female  35.0      1      0  53.1000        S
3   5         0       3    male  35.0      0      0   8.0500        S
4   7         0       1    male  54.0      0      0  51.8625        S

In [200]:
df_train.isnull().sum()

ID            0
survived      0
pclass        0
sex           0
age         133
sibsp         0
parch         0
fare          0
embarked      2
dtype: int64

In [201]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        668 non-null    int64
 1   survived  668 non-null    int64
 2   pclass    668 non-null    int64
 3   sex       668 non-null    object
 4   age       535 non-null    float64
 5   sibsp     668 non-null    int64
 6   parch     668 non-null    int64
 7   fare      668 non-null    float64
 8   embarked  666 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 47.1+ KB

#　特徴量エンジニアリング

## Trainデータの補正

In [202]:
df_train['embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [203]:
df_train.embarked=df_train.embarked.replace(['S','C','Q'],[0,1,2])

In [204]:
df_train.sex=df_train.sex.replace(['male','female'],[0,1])

In [205]:
df_train['age'].fillna(df_train.age.median(),inplace=True)

In [206]:
df_train['embarked'].fillna(df_train.embarked.median(),inplace=True)

In [207]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        668 non-null    int64
 1   survived  668 non-null    int64
 2   pclass    668 non-null    int64
 3   sex       668 non-null    int64
 4   age       668 non-null    float64
 5   sibsp     668 non-null    int64
 6   parch     668 non-null    int64
 7   fare      668 non-null    float64
 8   embarked  668 non-null    float64
dtypes: float64(3), int64(6)
memory usage: 47.1 KB

In [208]:
df_train.isnull().sum()

ID          0
survived    0
pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64

## testデータの補正

In [209]:
df_test.embarked=df_test.embarked.replace(['S','C','Q'],[0,1,2])

In [210]:
df_test.sex=df_test.sex.replace(['male','female'],[0,1])

In [211]:
df_test['age'].fillna(df_test.age.median(),inplace=True)

In [212]:
df_test['embarked'].fillna(df_test.embarked.median(),inplace=True)

In [213]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        223 non-null    int64
 1   pclass    223 non-null    int64
 2   sex       223 non-null    int64
 3   age       223 non-null    float64
 4   sibsp     223 non-null    int64
 5   parch     223 non-null    int64
 6   fare      223 non-null    float64
 7   embarked  223 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 14.1 KB

# モデリング

In [214]:
# scikit-learnのインポート
from sklearn import tree

In [215]:
# trainの目的変数と説明変数の値を取得
target=df_train["survived"].values
features_one=df_train[["pclass","sex","age","sibsp","parch","fare"]].values
# features_one=df_train[["pclass","sex","age","fare"]].values

In [216]:
#　決定木の作成
my_tree_one=tree.DecisionTreeClassifier()
my_tree_one=my_tree_one.fit(features_one,target)

In [217]:
# testの説明変数の値を取得
test_features=df_test[["pclass","sex","age","sibsp","parch","fare"]].values
# test_features=df_test[["pclass","sex","age","fare"]].values

In [218]:
# testの説明変数を使ってmy_tree_oneのモデルで予測
my_prediction=my_tree_one.predict(test_features)

In [219]:
#予測データのサイズを確認
my_prediction.shape

(223,)

In [220]:
#予測データの中身を確認
print(my_prediction)

[1 0 1 1 1 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 1 0 1 1 0 0 0 0 1 0 0
 0 0 0 1 1 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1 1 0
 1 0 1 1 1 1 0 1 1 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0 1 1 0 1 1 1 1 0 0 0 0 0 1
 1 1 1 0 0 0 1 0 1 0 0 1 1 0 1 0 0 0 1 1 0 1 1 0 0 1 1 0 0 0 0 0 1 0 1 0 0
 1 0 1 0 0 0 1 0 0 0 1 0 0 1 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 1 0
 0 0 1 0 1 1 1 1 0 0 0 0 1 0 0 1 0 1 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 0 1 0 1
 0]

#　予測結果の投稿

In [221]:
df_submit['y']=my_prediction

In [222]:
df_submit

      ID  y
0      2  1
1      6  0
2      9  1
3     11  1
4     15  1
..   ... ..
218  878  0
219  881  1
220  884  0
221  888  1
222  891  0

[223 rows x 2 columns]

In [224]:
df_submit.to_csv('submission3.csv')

# 精度改善方法
・欠損値の埋め方
・異常値の確認
・新しい特徴量を作る
・特徴量を正規化と標準化してみる
・特徴量エンジニアリングとはなんなのか
・他の機械学習モデルを試す