In [37]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
# sns.set(font="IPAexGothic",style="white")
from sklearn.model_selection import train_test_split

import warnings
warnings.simplefilter('ignore')

import os
working_directory=os.getcwd()
print(working_directory)

/Users/naokimaruoka/Dropbox/00.Self-Dev/Programming/GitHub/Python/DS

In [38]:
path_train=working_directory+'/train.csv'
path_test=working_directory+'/test.csv'
path_submit=working_directory+'/submit.csv'
df_train=pd.read_csv(path_train)
df_test=pd.read_csv(path_test)
df_submit=pd.read_csv(path_submit)

In [39]:
print(f'▼df_train\n{df_train}\n')
print(f'▼df_test\n{df_test}\n')

▼df_train
      ID  survived  pclass     sex   age  sibsp  parch     fare embarked
0      1         0       3    male  22.0      1      0   7.2500        S
1      3         1       3  female  26.0      0      0   7.9250        S
2      4         1       1  female  35.0      1      0  53.1000        S
3      5         0       3    male  35.0      0      0   8.0500        S
4      7         0       1    male  54.0      0      0  51.8625        S
..   ...       ...     ...     ...   ...    ...    ...      ...      ...
663  885         0       3    male  25.0      0      0   7.0500        S
664  886         0       3  female  39.0      0      5  29.1250        Q
665  887         0       2    male  27.0      0      0  13.0000        S
666  889         0       3  female   NaN      1      2  23.4500        S
667  890         1       1    male  26.0      0      0  30.0000        C

[668 rows x 9 columns]

▼df_test
      ID  pclass     sex   age  sibsp  parch     fare embarked
0      2       1  female  38.0      1      0  71.2833        C
1      6       3    male   NaN      0      0   8.4583        Q
2      9       3  female  27.0      0      2  11.1333        S
3     11       3  female   4.0      1      1  16.7000        S
4     15       3  female  14.0      0      0   7.8542        S
..   ...     ...     ...   ...    ...    ...      ...      ...
218  878       3    male  19.0      0      0   7.8958        S
219  881       2  female  25.0      0      1  26.0000        S
220  884       2    male  28.0      0      0  10.5000        S
221  888       1  female  19.0      0      0  30.0000        S
222  891       3    male  32.0      0      0   7.7500        Q

[223 rows x 8 columns]

## 正解データのチェック

In [40]:
df_train['survived'].value_counts()

0    410
1    258
Name: survived, dtype: int64

##　1.欠損値の処理

In [41]:
# 欠損値の確認
print(f'▼df_train\n{df_train.isnull().sum()}\n')
print(f'▼df_test\n{df_test.isnull().sum()}\n')

▼df_train
ID            0
survived      0
pclass        0
sex           0
age         133
sibsp         0
parch         0
fare          0
embarked      2
dtype: int64

▼df_test
ID           0
pclass       0
sex          0
age         44
sibsp        0
parch        0
fare         0
embarked     0
dtype: int64

In [42]:
# df_train.describe()

In [43]:
# 欠損値の穴埋め
df_train['age']=df_train['age'].fillna(df_train['age'].mean()) #平均値で補填
df_train['embarked']=df_train['embarked'].fillna(df_train['embarked'].mode()[0]) #最頻値で補填。mode()は最頻値を配列で返すのでインデックス0で拾う

In [44]:
# 欠損値の確認
print(f'▼df_train\n{df_train.isnull().sum()}\n')
# print(f'▼df_test\n{df_test.isnull().sum()}\n')

#　欠損値補填前のサマリ
print(f'▼df_train\n{df_train.describe()}\n')
# print(f'▼df_test\n{df_test.describe()}\n')

▼df_train
ID          0
survived    0
pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64

▼df_train
               ID    survived      pclass         age       sibsp       parch  \
count  668.000000  668.000000  668.000000  668.000000  668.000000  668.000000
mean   445.911677    0.386228    2.305389   29.900000    0.534431    0.392216
std    259.966783    0.487249    0.837377   12.963311    1.161739    0.822509
min      1.000000    0.000000    1.000000    0.670000    0.000000    0.000000
25%    216.250000    0.000000    2.000000   22.750000    0.000000    0.000000
50%    445.500000    0.000000    3.000000   29.900000    0.000000    0.000000
75%    674.500000    1.000000    3.000000   36.000000    1.000000    0.000000
max    890.000000    1.000000    3.000000   80.000000    8.000000    6.000000

             fare
count  668.000000
mean    32.373621
std     50.632021
min      0.000000
25%      7.925000
50%     14.500000
75%     31.275000
max    512.329200

## 1.外れ値の処理(今回は不要。決定木を使う場合は多少外れ値があってもOK)