In [381]:
# ライブラリの取得
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
# sns.set(font="IPAexGothic",style="white")　多分いらなそう
# import oandapy
import configparser
import datetime
from datetime import datetime, timedelta

import warnings
warnings.simplefilter('ignore')

# CSVデータの読み込み
import os
working_directory=os.getcwd()
#print(working_directory)
path_train=working_directory+'/train_finance.csv'
# path_test=working_directory+'/test_finance.csv'
path_test=working_directory+'/test_finance_last10elminate.csv'
path_latest=working_directory+'/test_latest.csv'
path_submit=working_directory+'/submit_finance.csv'

#データフレームの生成
df_train=pd.read_csv(path_train)
df_test=pd.read_csv(path_test)
df_latest=pd.read_csv(path_latest)
df_submit=pd.read_csv(path_submit)

In [382]:
#データの確認
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2074 entries, 0 to 2073
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2074 non-null   object
 1   High    2074 non-null   float64
 2   Low     2074 non-null   float64
 3   Open    2074 non-null   float64
 4   Close   2074 non-null   float64
dtypes: float64(4), object(1)
memory usage: 81.1+ KB

In [383]:
#データの確認
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236 entries, 0 to 1235
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1236 non-null   object
 1   High    1236 non-null   float64
 2   Low     1236 non-null   float64
 3   Open    1236 non-null   float64
 4   Close   1236 non-null   float64
dtypes: float64(4), object(1)
memory usage: 48.4+ KB

In [384]:
# Dateがobject型になっているので日付型に変換
df_train['Date']=pd.to_datetime(df_train['Date'],format='%Y/%m/%d')
df_test['Date']=pd.to_datetime(df_test['Date'],format='%Y/%m/%d')
df_latest['Date']=pd.to_datetime(df_latest['Date'],format='%Y/%m/%d')

In [385]:
# Dateが日付型に変更されたかどうかの確認
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2074 entries, 0 to 2073
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2074 non-null   datetime64[ns]
 1   High    2074 non-null   float64
 2   Low     2074 non-null   float64
 3   Open    2074 non-null   float64
 4   Close   2074 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 81.1 KB

In [386]:
# Dateが日付型に変更されたかどうかの確認
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236 entries, 0 to 1235
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1236 non-null   datetime64[ns]
 1   High    1236 non-null   float64
 2   Low     1236 non-null   float64
 3   Open    1236 non-null   float64
 4   Close   1236 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 48.4 KB

In [387]:
# Dateが日付型に変更されたかどうかの確認
df_latest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    10 non-null     datetime64[ns]
 1   High    10 non-null     float64
 2   Low     10 non-null     float64
 3   Open    10 non-null     float64
 4   Close   10 non-null     float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 528.0 bytes

In [388]:
df_train.head()

        Date        High         Low        Open       Close
0 2003-12-01  111.370639  110.482062  111.314347  110.676377
1 2003-12-02  112.008532  110.500532  110.639316  111.823016
2 2003-12-03  112.202814  111.712284  111.832477  112.137524
3 2003-12-04  112.332259  111.406851  112.110343  111.748717
4 2003-12-05  112.766375  111.609834  111.721723  112.729259

In [389]:
#データの確認
df_train.describe()

              High          Low         Open        Close
count  2074.000000  2074.000000  2074.000000  2074.000000
mean    124.078238   122.910559   123.526205   123.529490
std       9.210193     9.493319     9.188003     9.184970
min     108.520946     6.743457   107.993884   107.998923
25%     117.002707   115.863246   116.408944   116.427990
50%     123.242134   121.951219   122.590435   122.573382
75%     130.814157   129.393252   130.201913   130.179930
max     148.260942   146.834717   147.832063   147.888796

In [390]:
#データの確認
df_test.describe()

              High          Low         Open        Close
count  1236.000000  1236.000000  1236.000000  1236.000000
mean    111.490059   110.738356   111.134670   111.135065
std       9.214735     9.281701     9.224468     9.223940
min      96.767439    70.352906    96.364197    96.357173
25%     103.778958   103.142761   103.477977   103.472478
50%     108.639479   107.891858   108.202341   108.196006
75%     120.711486   119.859603   120.326373   120.329122
max     129.417693   128.691530   128.851619   128.858797

In [391]:
#欠損値の確認
print(f'欠損データ確認(df_train)\n{df_train.isnull().sum()}\n')
print(f'欠損データを確認(df_test)\n{df_test.isnull().sum()}\n')

欠損データ確認(df_train)
Date     0
High     0
Low      0
Open     0
Close    0
dtype: int64

欠損データを確認(df_test)
Date     0
High     0
Low      0
Open     0
Close    0
dtype: int64

## Trainデータを学習用と検証用に分割
#### (しようとしたが今回はそもそもtrain:2003/12/1-2011/12/14 | test:2011/12/15-2019/12/31に分かれてるので分割不要。前者を学習用、後者を検証用に使う)

In [392]:
# 不要
# Trainデータを学習用と検証用に分割
# 今回は①学習用：8割、②検証用：2割にTrainデータを分割して、①の予測モデルで
# ②が正しく評価できるのかを確認した上で、testデータへの予測モデルの適用を行う

In [393]:
'''不要
# train_test_splitというDataFrameを分けてくれる関数がsklearnにあるのでそれを使う
from sklearn.model_selection import train_test_split

df_train, df_validation = train_test_split(df_train, train_size=0.8, test_size=0.2, shuffle=False)
'''

'不要\n# train_test_splitというDataFrameを分けてくれる関数がsklearnにあるのでそれを使う\nfrom sklearn.model_selection import train_test_split\n\ndf_train, df_validation = train_test_split(df_train, train_size=0.8, test_size=0.2, shuffle=False)\n'

In [394]:
'''不要
# 分割後のサイズ
print(f'①学習用データのサイズ(df_train)：{len(df_train)}')
print(f'②検証用データのサイズ(df_validation)：{len(df_validation)}')
print(f'元々のdf_trainのサイズが8:2に分割された\n')

# 分割後の詳細
print(f'分割後のサマリ(df_train)\n{df_train.describe()}\n')
print(f'分割後のサマリ(df_validation)\n{df_validation.describe()}\n')
'''

"不要\n# 分割後のサイズ\nprint(f'①学習用データのサイズ(df_train)：{len(df_train)}')\nprint(f'②検証用データのサイズ(df_validation)：{len(df_validation)}')\nprint(f'元々のdf_trainのサイズが8:2に分割された\n')\n\n# 分割後の詳細\nprint(f'分割後のサマリ(df_train)\n{df_train.describe()}\n')\nprint(f'分割後のサマリ(df_validation)\n{df_validation.describe()}\n')\n"

##　LSTMモデルへ訓練させるための前処理

In [395]:
##　LSTMモデルへ訓練させるための前処理

In [396]:
# windowを設定
window_len=10

In [397]:
# Closeの単価だけ抽出
df_train=df_train['Close']
df_test=df_test['Close']
df_latest=df_latest['Close']

In [398]:
# 分割後の詳細
print(f'単価抽出後のサマリ(df_train)\n{df_train.describe()}\n')
print(f'単価抽出後のサマリ(df_test)\n{df_test.describe()}\n')
print(f'単価抽出後のサマリ(df_latest)\n{df_latest.describe()}\n')

単価抽出後のサマリ(df_train)
count    2074.000000
mean      123.529490
std         9.184970
min       107.998923
25%       116.427990
50%       122.573382
75%       130.179930
max       147.888796
Name: Close, dtype: float64

単価抽出後のサマリ(df_test)
count    1236.000000
mean      111.135065
std         9.223940
min        96.357173
25%       103.472478
50%       108.196006
75%       120.329122
max       128.858797
Name: Close, dtype: float64

単価抽出後のサマリ(df_latest)
count     10.000000
mean     103.074446
std        0.340053
min      102.632956
25%      102.842064
50%      103.011844
75%      103.364806
max      103.621249
Name: Close, dtype: float64

In [399]:
df_train.head()

0    110.676377
1    111.823016
2    112.137524
3    111.748717
4    112.729259
Name: Close, dtype: float64

In [400]:
# LSTMへの入力用に処理の関数

def data_maker(data):
  data_lstm_in=[]
  if len(data)==window_len:
    temp = data[:window_len].copy()
    temp = temp / temp.iloc[0] - 1
    data_lstm_in.append(temp)
  for i in range(len(data) - window_len): #今回のLSTMで生成する時系列データ数(train総数-10個のモデル)
      temp = data[i:(i + window_len)].copy() #windowの単位で行を取得。参照渡しでなく値渡し。
      temp = temp / temp.iloc[0] - 1
      data_lstm_in.append(temp)
  return data_lstm_in

In [401]:
#関数の実行
train_lstm_in = data_maker(df_train)

In [402]:
train_lstm_in[1]

1     0.000000
2     0.002813
3    -0.000664
4     0.008104
5     0.010839
6     0.013316
7     0.008436
8     0.011173
9     0.015717
10    0.019108
Name: Close, dtype: float64

In [403]:
lstm_train_out = (df_train[window_len:].values / df_train[:-window_len].values)-1

In [404]:
print(f'df_train[window_len:]\n{df_train[window_len:]}\n')
print(f'df_train[:-window_len]\n{df_train[:-window_len]}\n')
print(f'df_train_tail\n{df_train.tail(10)}\n')

df_train[window_len:]
10      113.959768
11      113.978017
12      114.718724
13      114.912544
14      114.561007
           ...
2069    123.984661
2070    123.445260
2071    123.687906
2072    121.832361
2073    120.427021
Name: Close, Length: 2064, dtype: float64

df_train[:-window_len]
0       110.676377
1       111.823016
2       112.137524
3       111.748717
4       112.729259
           ...
2059    123.506238
2060    123.311956
2061    123.149431
2062    123.182225
2063    123.247879
Name: Close, Length: 2064, dtype: float64

df_train_tail
2064    124.356365
2065    124.569051
2066    124.126091
2067    123.826987
2068    124.061165
2069    123.984661
2070    123.445260
2071    123.687906
2072    121.832361
2073    120.427021
Name: Close, dtype: float64

In [405]:
len(lstm_train_out)

2064

In [406]:
lstm_train_out

array([ 0.02966659,  0.01927153,  0.02301817, ...,  0.00437253,
       -0.01095827, -0.02288768])

In [407]:
test_lstm_in = data_maker(df_test)

In [408]:
len(test_lstm_in)

1226

In [409]:
test_lstm_in[1]

1     0.000000
2     0.000561
3    -0.001678
4     0.004476
5     0.000795
6    -0.007860
7    -0.005649
8    -0.005340
9    -0.006807
10    0.002024
Name: Close, dtype: float64

In [410]:
len(test_lstm_in)

1226

In [411]:
test_lstm_in[0]

0    0.000000
1    0.003205
2    0.003768
3    0.001522
4    0.007696
5    0.004003
6   -0.004680
7   -0.002462
8   -0.002151
9   -0.003623
Name: Close, dtype: float64

In [412]:
lstm_test_out = (df_test[window_len:].values / df_test[:-window_len].values)-1

In [413]:
print(f'df_test[window_len:]\n{df_test[window_len:]}\n')
print(f'df_test[:-window_len]\n{df_test[:-window_len]}\n')
print(f'df_test_tail\n{df_test.tail(10)}\n')

df_test[window_len:]
10      120.768214
11      119.615675
12      117.696451
13      118.589748
14      116.984943
           ...
1231    101.858793
1232    101.926134
1233    102.481723
1234    102.538522
1235    102.518067
Name: Close, Length: 1226, dtype: float64

df_test[:-window_len]
0       120.139231
1       120.524311
2       120.591872
3       120.322078
4       121.063789
           ...
1221    102.939050
1222    102.436325
1223    102.401171
1224    101.872246
1225    101.939609
Name: Close, Length: 1226, dtype: float64

df_test_tail
1226    102.259664
1227    102.419310
1228    102.490015
1229    102.479451
1230    101.794893
1231    101.858793
1232    101.926134
1233    102.481723
1234    102.538522
1235    102.518067
Name: Close, dtype: float64

In [414]:
lstm_test_out

array([ 0.00523545, -0.00753902, -0.02401009, ...,  0.00078662,
        0.00654031,  0.00567452])

In [415]:
latest_lstm_in = data_maker(df_latest)

In [416]:
len(latest_lstm_in)

1

In [417]:
latest_lstm_in[0]

0    0.000000
1    0.004508
2   -0.001023
3    0.000100
4    0.001394
5   -0.001790
6   -0.003628
7   -0.003119
8    0.004171
9    0.005966
Name: Close, dtype: float64

In [418]:
# 変数名をそのままprint関数内で表示させる関数
def chkprint(*args):
    for obj in args:
        for k, v in globals().items():
            if id(v) == id(obj):
                target = k
                break          
    return target

# データがどのデータ型か、列数、行数を表示する関数
def typeInfo(targetData):
    if (type(targetData) is pd.core.frame.DataFrame):
        print("{} は DataFrame型".format(chkprint(targetData)))
        print("{} の行数, 列数・・・{}\n".format(chkprint(targetData), targetData.shape))     # shapeの表示内容は、(行数, 列数)となる
    if (type(targetData) is list):
        print("{} は list型".format(chkprint(targetData)))
        print("{} の行数, 列数・・・{}\n".format(chkprint(targetData), pd.DataFrame(targetData).shape))    # shapeの表示内容は、(行数, 列数)となる
    if (type(targetData) is np.ndarray):
        print("{} は ndarray型".format(chkprint(targetData)))
        print("{} の行数, 列数・・・{}\n".format(chkprint(targetData), targetData.shape))     # shapeの表示内容は、(行数, 列数)となる
    if (type(targetData) is pd.core.series.Series):
        print("{} は Series型".format(chkprint(targetData)))
        print("{} の行数, 列数・・・{}\n".format(chkprint(targetData), targetData.shape))     # shapeの表示内容は、(行数, 列数)となる

In [419]:
# PandasのデータフレームからNumpy配列へ変換しましょう
def pd_to_np(data_lstm_in):
  data_lstm_in = [np.array(data_lstm_input) for data_lstm_input in data_lstm_in]  #array のリスト
  data_lstm_in = np.array(data_lstm_in) #np.array
  return data_lstm_in

In [420]:
np.array(train_lstm_in)

array([[ 0.        ,  0.01036029,  0.01320198, ...,  0.01888387,
         0.02164884,  0.02624016],
       [ 0.        ,  0.00281255, -0.00066443, ...,  0.0111728 ,
         0.01571704,  0.01910834],
       [ 0.        , -0.00346723,  0.00527686, ...,  0.0128683 ,
         0.01625008,  0.01641282],
       ...,
       [ 0.        ,  0.00026629,  0.00079942, ...,  0.00740348,
         0.00678224,  0.00240219],
       [ 0.        ,  0.00053298,  0.00953173, ...,  0.00651422,
         0.00213533,  0.00410514],
       [ 0.        ,  0.00899396,  0.01071963, ...,  0.00160149,
         0.00357026, -0.01148513]])

In [421]:
train_lstm_in = pd_to_np(train_lstm_in)
test_lstm_in = pd_to_np(test_lstm_in)
latest_lstm_in = pd_to_np(latest_lstm_in)

In [422]:
train_lstm_in

array([[ 0.        ,  0.01036029,  0.01320198, ...,  0.01888387,
         0.02164884,  0.02624016],
       [ 0.        ,  0.00281255, -0.00066443, ...,  0.0111728 ,
         0.01571704,  0.01910834],
       [ 0.        , -0.00346723,  0.00527686, ...,  0.0128683 ,
         0.01625008,  0.01641282],
       ...,
       [ 0.        ,  0.00026629,  0.00079942, ...,  0.00740348,
         0.00678224,  0.00240219],
       [ 0.        ,  0.00053298,  0.00953173, ...,  0.00651422,
         0.00213533,  0.00410514],
       [ 0.        ,  0.00899396,  0.01071963, ...,  0.00160149,
         0.00357026, -0.01148513]])

In [423]:
typeInfo(train_lstm_in)

_ は ndarray型
_ の行数, 列数・・・(2064, 10)

In [424]:
len(train_lstm_in)

2064

## モデルの定義

In [297]:
# モデルの定義
from keras.models import Sequential
from keras.layers import Activation, Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [298]:
# LSTMのモデルを設定
def build_model(inputs, output_size, neurons, activ_func="linear",
                dropout=0.25, loss="mae", optimizer="adam"):
    model = Sequential()
 
    model.add(LSTM(neurons, input_shape=(inputs.shape[1], inputs.shape[2])))
    model.add(Dropout(dropout))
    model.add(Dense(units=output_size))
    model.add(Activation(activ_func))
 
    model.compile(loss=loss, optimizer=optimizer)
    return model

## データの学習と予測

In [307]:
np.random.seed(202)
 
# 初期モデルの構築
yen_model = build_model(train_lstm_in, output_size=1, neurons = 20)

IndexError: tuple index out of range

In [308]:
# データを流してフィッティングさせましょう
yen_history = yen_model.fit(train_lstm_in, lstm_train_out, 
                            epochs=50, batch_size=1, verbose=2, shuffle=True)

NameError: name 'yen_model' is not defined

In [289]:
#　データの学習と予測
from tensorflow.keras import Sequential
from keras.layers import LSTM
# from tensorflow.keras.layers.recurrent import LSTM
#from tensorflow.keras.layers.core import Dense, Dropout

# from tensorflow.keras.layers import Input, Dense,Sequential
# from keras import layers, models,Sequential

In [290]:
# ランダムシードの設定
np.random.seed(202)

In [291]:
 
# 初期モデルの構築
yen_model = build_model(train_lstm_in, output_size=1, neurons = 20)


# データを流してフィッティングさせましょう
yen_history = yen_model.fit(train_lstm_in, lstm_train_out, 
                            epochs=10, batch_size=1, verbose=2, shuffle=True)

IndexError: tuple index out of range

In [ ]:
'''
# LSTMへの入力用に処理（訓練）
train_lstm_in = []
for i in range(len(df_train) - window_len):
    temp = df_train[i:(i + window_len)].copy()
    for col in df_train:
        temp.loc[:, col] = temp[col] / temp[col].iloc[0] - 1
    train_lstm_in.append(temp)
lstm_train_out = (df_train['Close'][window_len:].values / df_train['Close'][:-window_len].values)-1
 
# LSTMへの入力用に処理（テスト）
test_lstm_in = []
for i in range(len(df_validation) - window_len):
    temp = df_validation[i:(i + window_len)].copy()
    for col in df_validation:
        temp.loc[:, col] = temp[col] / temp[col].iloc[0] - 1
    test_lstm_in.append(temp)
lstm_test_out = (df_validation['Close'][window_len:].values / df_validation['Close'][:-window_len].values)-1
'''